/* You can add global styles to this file, and also import other style files */
:root {
  --cor-principal: darkslateblue;
  --cor-fonte-principal: white;
  --cor-fonte-secundaria: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
